:root {
    --gold: #D4AF37;
    --black: #121212;
    --gray: #2c2c2c;
}

body {
    background-color: var(--black);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
}

button {
    background-color: var(--gold);
    color: black;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
