body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #111;
  color: white;
}

h1 {
  color: #f2b705;
}

button {
  background: #f2b705;
  border: none;
  padding: 14px 25px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #ffd447;
}
