.login-box {
  background: rgba(0, 0, 0, 0.6); /* fundo semitransparente para destacar inputs */
  padding: 40px;
  border-radius: 10px;
  color: white;
  text-align: center;
  width: 350px;
}

.login-box input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 5px;
  border: none;
}

.login-box button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #ff6600;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-box button:hover {
  background-color: #e65c00;
}

.login-box a {
  color: #ffcc00;
  text-decoration: none;
}
